<!DOCTYPE html>

<title>New Slave</title>

{% block body %}
    <h1>Create new Slave</h1>

    {{ include('slave/_form.html.twig') }}

    <a href="{{ path('slave_index') }}">back to list</a>
{% endblock %}
