{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Github{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="/css/base.css"/>
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <div id="sidebar">
                {% block sidebar %}
                    <ol>
                        <li><a href="{{ path('master') }}">Insert Master record with Slaves</a></li>
                        <li><a href="{{ path('index') }}">Home</a></li>
                    </ol>
                {% endblock %}
            </div>

            <div id="content">
                {% block content %}
                    {% dump repositories %}
                    <ul>
                    {% for repo in repositories %}
                        <li> {{ repo['name'] }} </li>
                    {% endfor %}
                    </ul>
                {% endblock %}
                
            </div>
        {% endblock %}
    </body>
</html>