<!DOCTYPE html>

<title>New Master</title>

{% block body %}
    <h1>Create new Master</h1>

    {{ include('master/_form.html.twig') }}

    <a href="{{ path('master_index') }}">back to list</a>
{% endblock %}
